@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@300;400;600&display=swap");

* {
  font-family: Rajdhani, sans-serif;
  margin: 0;
  padding: 0;
  background-color: rgb(34, 0, 66);
  color: yellowgreen;
}

h1 {
  font-weight: 600;
  font-size: 7rem;
}

h2 {
  font-size: 4rem;
}

h3 {
  font-size: 2rem;
}

p {
  font-size: 1.5rem;
}

.underline {
  border-bottom: 1px solid yellowgreen;
}

.container {
  height: 100vh;
  display: flex;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
}

.container nav {
  position: fixed;
  right: 1rem;
  text-align: right;
  min-width: 240px;
}

.nav-link {
  text-decoration: none;
  display: block;
  font-size: 2rem;
  border: 1px solid yellow;
  padding-right: 0.5rem;
  margin-bottom: 5px;
}

.nav-link:hover {
  color: rgb(34, 0, 66);
  background-color: yellowgreen;
}

.scroll-container {
  scroll-behavior: smooth;
}

section {
  min-height: 100vh;
  max-width: 100%;
  padding: 2rem 4rem;
  padding-right: 320px;
  transition: all 1s ease-out;
  box-sizing: border-box;
}

.row {
  display: flex;
  box-sizing: border-box;
  margin: 1rem 0;
}

.col {
  display: flex;
  flex-direction: column;
  border-right: 1px solid yellowgreen;
  padding: 1rem;
}

.row .col:last-child {
  border-right: none;
}

.about {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.skills li {
  font-size: 1.5rem;
  list-style: none;
}

.skills .title {
  flex: 1;
  align-items: flex-end;
}

.skills .list {
  flex: 3;
  align-items: flex-start;
}
