.project-details {
  min-height: 100vh;
  max-width: 100%;
  padding: 2rem 4rem;
  transition: all 1s ease-out;
  box-sizing: border-box;
}

.project-details a {
  align-items: center;
  text-decoration: none;
  font-size: 1.2rem;
  color: yellowgreen;
  padding: 5px 15px;
  margin-right: 10px;
  border: 1px solid yellowgreen;
  transition: all 0.3s ease;
}

.project-details a:hover {
  color: rgb(34, 0, 66);
  background-color: yellowgreen;
}

.content {
  display: flex;
  margin: 2rem 0;
}

.gallery {
  flex: 1;
}

.gallery img {
  box-sizing: border-box;
  max-width: 100%;
}

.info {
  flex: 2;
}
